.bg-header {
    background-color: #e6c7f6;
    /* morado */
    width: 100%;
    padding-top: 0.5rem;
    /* menos espacio arriba */
    padding-bottom: 0.5rem;
    /* menos espacio abajo */
}

.titulo {
    font-size: 1.6rem;
    /* más grande */
    font-weight: bold;
}

.minilogo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.login {
    font-size: 1rem;
    /* agranda texto */
    padding: 0.6rem 1.2rem;
    /* agranda botón */
    border-radius: 10px;
}