.header-bg {
  background-color: #f4c9ef;
}

.navbar-custom {
  background-color: #d98ee0;
}

.btn-custom {
  background-color: #d98ee0;
  color: black;
  font-weight: bold;
  border: none;
}

.btn-custom:hover {
  background-color: #c36ed3;
  color: white;
}

.navbar-nav .nav-link {
  color: black;
}

.navbar-nav .nav-link:hover {
  color: #6a0dad;
}
