body {
  background-color: #f0f0f0;
}

header {
  background: #f1d7ff;
  padding: 30px;
}

@media (max-width: 767.98px) {
  .menu {
    margin-top: 1rem;
  }
}

.merriweather-font {
  font-family: "Merriweather", serif;
}

h5 {
  font-family: "Merriweather", serif;
}

.minilogo {
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
}

.login {
  background: #e5bafc;
  margin-right: 20px;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
}

.login:hover {
  background: #b280cc;
  transition: 0.3s;
}

.navbar {
  background: blanchedalmond;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #2c0849;
}

/* REGLA UNIFICADA para custom-link */
.custom-link {
  color: white !important;
  padding: 10px;
  font-weight: bold !important;
  text-decoration: none !important;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.custom-link:hover,
.custom-link:focus {
  color: #66ffcc !important;
  border-bottom: 2px solid #66ffcc;
  background-color: transparent;
  text-decoration: none !important;
}

.custom-link.active {
  color: #66ffcc !important;
}

/* Responsive para sidebar en móvil */
@media (max-width: 767.98px) {
  .sidebar {
    min-height: auto;
    width: 100%;
  }
}

footer {
  background: #e5bafc;
}

.modal-header {
  background: #f1d7ff;
}

.custom-btn {
  background: #e5bafc;
}

.custom-btn:hover {
  background: #b280cc;
  transition: 0.3s;
}

.card-header {
  background: rgb(163, 233, 233);
}

.badge-stock {
  min-width: 35px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.4em 0.6em;
  border-radius: 0.5rem;
}
.sidebar {
  width: 250px;
  background: #2c0849;
  color: white; /* texto blanco por defecto */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* empuja el contenido hacia abajo */
}

/* Para el bloque superior (nombre + links) */
.sidebar .nav-link,
.sidebar h5,
.sidebar i,
.sidebar hr {
  color: white !important;
}

/* Responsive */
@media (max-width: 767.98px) {
  .sidebar {
    width: 100%;
    min-height: auto;
  }
}